.zen-current-workspace-indicator {
  & .zen-current-workspace-indicator-icon {
    margin-bottom: 4px !important;
  }
}

.zen-current-workspace-indicator {
  & .zen-current-workspace-indicator-name {
    margin-bottom: 2px !important;
  }
}
